---
// WIP Banner Component
---

<div class="wip-banner">
	<span class="wip-text">This website is under development</span>
</div>

<style>
	.wip-banner {
		background-color: var(--color-gray-100, #f3f4f6);
		text-align: center;
		padding: 0.375rem 1rem;
	}

	.wip-text {
		font-size: 0.75rem;
		color: var(--color-gray-600, #4b5563);
	}
</style>
