---
import BaseHead from '../components/layout/BaseHead.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts.ts';
---

<html lang="en">
  <head>
    <BaseHead title="Contact" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main>
      <h1>Contact</h1>
      <p><strong>Email:</strong> your@email.com</p>
    </main>

    <Footer />
  </body>
</html>


