---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<html lang="en">
  <head>
    <BaseHead title="Members" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main>
      <h1>Lab Members</h1>

      <section>
        <h2>Director</h2>
        <p>Saura Naderi</p>
      </section>

      <section>
        <h2>Lab Fellows</h2>
        <p>Major, Expected Graduation Year</p>
        <p>Major, Expected Graduation Year</p>
        <p>Major, Expected Graduation Year</p>
      </section>
    </main>

    <Footer />
  </body>
</html>
