---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import ProjectPost from '../../layouts/ProjectPost.astro';
import { getLinkedEvent } from '../../utils/projectHelpers';
import '../../styles/markdown.css';

export async function getStaticPaths() {
	const posts = await getCollection('projects');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'projects'>;

const post = Astro.props;
const allEvents = await getCollection('events');
const linkedEvent = getLinkedEvent(post.data.event, allEvents);
const { Content } = await render(post);
---

<ProjectPost {...post.data} linkedEvent={linkedEvent}>
	<div class="markdown-content">
		<Content />
	</div>
</ProjectPost>